# Deny everything
*

# Allow directories to be traversed
!*/

# Allow specific files and extensions
!.gitignore
!.github/**
!src/**/*.gleam
!test/**/*.gleam
!gleam.toml
!manifest.toml
!README.md
!spec.md
!todo.md
!schedule.txt

build/
